
section h2 {
  text-align: center;
}

.platContenu p {
  text-align: left;
}

div#plats {
  display: flex;
  width: 100%;
  margin: .5em 0em;
}

.platImg {
  width: inherit;
  padding: .5em;
}

.platContenu {
  width: inherit;
  padding: .5em;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.platImg img {
  width: 80%;
  border-radius: 2%;
}

.addButton {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-color: rgb(184, 109, 86);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 1em;
  bottom: 1em;
  transition-property: background;
transition-duration: 700ms;
transition-timing-function: linear;
}
.addButton:hover{
  background-color: #ff7b29;
  width: 60px;
}
.addButton h3 {
  color: white;
  cursor: pointer;
  padding-top: 0.100em;
  padding-left: 0.063em;
}
