
.dropDown{
  padding: 10px;
  position: absolute;
  z-index: 10;
  background: rgb(255, 255, 255);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.43);
  min-height: 50px;
  min-width: 250px;
  margin-left: -170px;
  border-radius: 5%;
  opacity: 0;
  transition: opacity 1s ease;
}
.itemPanier{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  height: 50px;
  paddin: 10px;
}
.itemPanierName{
  font-size: 12px;
  width : 100px;
  height: inherit;
  /*border-right: 1px solid black;*/
  display: flex;
  align-items: center;
  margin-left: 10px;
  justify-content: center;
}
.panierTotal{
  display: flex;
  justify-content: space-between;
}
.itemPanierPrice{
  font-size: 12px;
  height: inherit;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.itemPanierQuantity{
  font-size: 12px;
  height: inherit;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.itemTotal{
  font-size: 12px;
  height: inherit;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
