body{
  font-family: 'Poppins', sans-serif;
  width: 80%;
  margin-right: 10%;
  margin-left: 10%;
}



h3{
  text-transform: uppercase;
}

header{
  display: flex;
  height: 4.3em;
}

.logo{
  width: 30%;
  display: flex;
  align-self: center;
  justify-content: space-between;
}

.chickenRight, .chickenLeft {
  height: 3em;
  padding-left: 0.3em;
}

.chikenCentre {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.logo img{
  height: 3em;
  padding-left: 1em;
}

.logo a{
color: black;
padding: 2px;
}

.logo img:hover{
  height: 3.1em;
  opacity: 0.6;
  transition-duration: 0.4s;
  transition-timing-function: ease;
}


.menu{
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 100;
}

.menu ul{
    display: flex;
}

.menu li{
  list-style: none;
  padding-left: 1em;

}

.menu li a {
  text-decoration: none;
  color : black;
}

a {
    text-decoration: none;
    color: black;
}

.panier {
  padding: 0px 5px;
}



/* Underline From Left */
.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: black;
  height: 2px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
}

/* Back Pulse */
@-webkit-keyframes hvr-back-pulse {
  50% {
    background-color: rgba(255, 255, 255, 0.75);
  }
}
@keyframes hvr-back-pulse {
  50% {
    background-color: rgba(255, 255, 255, 0.75);
  }
}
.hvr-back-pulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  overflow: hidden;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-back-pulse:hover{
  -webkit-animation-name: hvr-back-pulse;
  animation-name: hvr-back-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 0;
  animation-iteration-count: 0;
  background-color: black;
  background-color: black;
  color: white;
}
